In [5]:
a=range(10,13)
a
b=list(a)
print(type(a))
print(*b)

<class 'range'>
10 11 12

In [9]:
import pandas as pd
import numpy as np
df_obj = pd.DataFrame(np.arange(12).reshape(3, 4),
                          columns=['a', 'b', 'c', 'd'])
df_obj

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [10]:
df_obj.sum()

a    12
b    15
c    18
d    21
dtype: int64

In [11]:
df_obj.sum(axis=0)

a    12
b    15
c    18
d    21
dtype: int64

In [12]:
df_obj.sum(axis=1)

0     6
1    22
2    38
dtype: int64

In [13]:
df_obj.max(axis=1)

0     3
1     7
2    11
dtype: int32

In [14]:
lie1=df_obj['a']
lie1

0    0
1    4
2    8
Name: a, dtype: int32

In [15]:
lie1.mean()

4.0

In [16]:
lie1.std()

4.0

In [17]:
df_obj = pd.DataFrame([[12, 6, -11, 19], 
                       [-1, 7, 50, 36],
                       [5, 9, 23, 28]])
df_obj

    0  1   2   3
0  12  6 -11  19
1  -1  7  50  36
2   5  9  23  28

In [30]:
lie1=df_obj.iloc[:,0]
lie1

0    12
1    -1
2     5
Name: 0, dtype: int64

In [31]:
lie1.std()

6.506407098647712